.acc-pg-decoration-col {
    display: block;
    width: 100%;
  }
  .acc-pg-logo {
    height: 70px;
    object-fit: contain;
  }
  .acc-pg-f-container{
    display: flex;
    flex-direction: column;

  }
  .acc-pg-container {
    height: 100vh;
    overflow-y: hidden;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .acc-pg-container .ant-input-group-addon {
    border: none !important;
    background-color: transparent !important;
  }
  .acc-pg-container .ant-input {
    border: none !important;
    background-color: transparent !important;
  }
  .acc-pg-container .ant-form-item textarea {
    border: 1px solid rgba(236, 236, 239) !important;
    background-color: white !important;
  }
  .acc-pg-input {
    border: 1px solid rgba(236, 236, 239);
    border-radius: 16px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-right: 8px;
    background-color: white;
  }
  .acc-pg-form-steps{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .acc-pg-input .ant-row {
    height: 50px !important;
  }
  .acc-pg-form-col {
    padding: 0px 0px 0px 50px;
    width: 100%;
  }
  .acc-pg-welcome {
    font-weight: 700;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 0px;
  }
  .acc-pg-form {
    padding-top: 12px;
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
  
.acc-pg-footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* gap-2 */
  padding-top: 0.75rem; /* py-3 */
  padding-bottom: 0.75rem;
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
}

.acc-pg-footer-text p {
  color: var(--text-n300);
}

.acc-pg-footer-text a {
  color: var(--bg-b300); /* text-b300 */
  text-decoration: underline;
}
.acc-pg-toggle-btn {
  color: rgb(0, 85, 255);
}

.animated-test-column-2 {
  display: block;
}
@media screen and (max-width: 1280px) {
  .animated-test-column-2 {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .acc-pg-decoration-col {
    display: none;
  }
  .acc-pg-form-col {
    padding: 0px;
  }
}